doctype html
html
  head
    title= title 
    script(src="scripts/zone.js/dist/zone.js")
    script(src="scripts/reflect-metadata/Reflect.js") 
    script(src="scripts/systemjs/dist/system.src.js")
    script(src="system.config.js")

    script System.import('app').catch(function(err){ console.error(err); });
     